.specFlexWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:22px;

  .specForm {
    position: relative;
    background-color: #F9F9F9;
    border-radius: 8px;
    padding: 60px 140px 95px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;

    .specFormButton {
      width: 200px;
      height: 30px;
      position: absolute;
      bottom:25px;
      left:calc(50% - 100px);
      border-radius: 10px;
      border: 1px solid #29A5EB;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }

      .specFormButtonText {
        color: #29A5EB;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .specFormInputContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .specFormInput {
        background: none;
        outline: none;
        border: none;
        width: 100%;
        height: 35px;
        color: #878787;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &::placeholder {
          color: #878787;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .specFormInputStroke {
        width: 100%;
        height: 2px;
        background-color: #29A5EB;
      }
    }
  }

  .specTable {
    padding:5px 15px 5px 5px;
    display: flex;
    flex-direction: column;
    gap:20px;
    max-height: 685px;
    overflow-y: scroll;
    margin-top: 10px;

    &::-webkit-scrollbar {
      width: 15px; /* ширина для вертикального скролла */
      height: 8px; /* высота для горизонтального скролла */
      background-color: white;
    }

    /* ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background-color: #29A5EB;
      border-radius: 9em;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: white;
    }


    .tableRow {
      background: #FFF;
      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.10);
      padding: 22px 30px 20px 30px;

      .tableRowBodyButton {
        margin-top: 15px;
        width: 275px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #28BF20;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          cursor: pointer;
        }

        .tableRowBodyButtonText {
          color: #FFF;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .tableRowHeaderContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgba(40, 191, 32, 0.2);;

        .tableRowImage {
          width: 97px;
          height: 63px;
          flex-shrink: 0;
        }

        .flexWrap {
          display: flex;
          gap:20px;
        }

        .tableRowHeaderContainerText {

          .tableRowHeaderText1 {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .tableRowHeaderText2 {
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .tableRowHeaderButton {
          border-radius: 10px;
          border: 1px solid #29A5EB;
          text-decoration: none;
          display: flex;
          justify-content: center;
          width: 150px;
          height: 35px;
          align-items: center;

          &:hover {
            cursor: pointer;
          }

          .tableRowHeaderButtonText {
            color: #29A5EB;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }

      .tableRowBodyInfo {
        margin-top: 10px;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .tableRowBodyWrapper {
        display: flex;
        justify-content: space-between;

        .tableRowBodyWrapper2 {
          gap:140px;
          margin-top: 10px;
        }

        .tableRowBodyWrapper3 {
          display: flex;
          gap:80px;
          justify-content: space-between;

          .tableRowBodyInfoPlaces {
            color: #000;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .tableRowBodyLink {
            color: #29A5EB;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .tableRowBodyPrice {
          max-width: 220px;
          color: #000;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-align: center;
        }
      }
    }
  }
}