.orderSection {
  background: #F9F9F9;
  display: grid;
  position: relative;
  grid-template-columns: 0.53fr 0.47fr;
  gap:55px;
  padding: 155px 70px 165px 70px;
  overflow-y: clip;

  .orderShape1 {
    top:35px;
    left:110px;
    position: absolute;
    width: 656.452px;
    height: 622.497px;
    border-radius: 656.452px;
    background: rgba(114, 219, 11, 0.50);
    filter: blur(50px);
    z-index: 0;
  }

  .orderShape2 {
    left:0;
    top:240px;
    position: absolute;
    width: 552.847px;
    height: 524.117px;
    border-radius: 552.847px;
    background: #29A5EB;
    filter: blur(50px);
    z-index: 0;
  }

  .orderImgContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    overflow: hidden;
    .orderImg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .orderDescriptionWrapper {
    .orderHeader {
      color: #000;
      font-size: 55px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      .spanned {
        color: #28BF20;
        font-size: 55px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .orderParagraph {
      margin-top:22px;
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.5px;
    }

    .orderButton {
      margin-top:45px;
      border-radius: 10px;
      background: #29A5EB;
      width: 303px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      .orderButtonText {
        color: #FFF;
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.howWorksSection {
  position: relative;
  padding: 36px 70px 140px 70px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.25);

  .howWorksTitle {
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .howWorksGrid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3,1fr);
    padding-left: 20px;
    margin-top:100px;
    gap: 30px;

    .vector {
      position: absolute;
      z-index: 10;
      margin-left:75px;
    }

    .cardGrey {
      background: #F9F9F9;
    }

    .card {
      position: relative;
      padding: 23px 28px 130px 28px;
      border-radius: 10px;

      .cardEllipse {
        position: relative;
        width: 35px;
        height: 35px;
        flex-shrink: 0;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #72DB0B;
        z-index: 100;

        .cardEllipseText {
          color: #FFF;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }

      .cardTitle {
        margin-top: 22px;
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .cardParagraph {
        margin-top: 14px;
        color: #515151;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .cardSvg {
        position: absolute;
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        bottom: 40px;
        left: calc(50% - 40px);
        fill: #29A5EB;
      }
    }
  }
}